
/*Wrapper MAIN*/
#wrap_products {
    max-width: 960px;
}

/*Styling menu and buttons*/
#horisontal_menu {
    width: 80%;
}

/*Styling buttons*/
main button {
    margin: 3px;
    padding: 5px 8px;
    font-size: 19px;
}

    main button:hover {
         padding: 5px 8px;
    }